---
// src/pages/index.astro
import 'swiper/css';
import 'swiper/css/autoplay';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro Swiper Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  </head>
  <body class="bg-gray-100 min-h-screen">
    <main class="w-screen h-screen flex items-center">
      <div class="swiper h-3/4 overflow-visible">
        <div class="swiper-wrapper">
          <div class="swiper-slide !flex items-center">
            <div class="w-full aspect-[2/3] max-w-[calc(100vh*0.75*0.667)] max-h-full rounded-2xl bg-white flex items-center justify-center text-2xl font-semibold">
              Slide 1
            </div>
          </div>
          <div class="swiper-slide !flex items-center">
            <div class="w-full aspect-[2/3] max-w-[calc(100vh*0.75*0.667)] max-h-full rounded-2xl bg-white flex items-center justify-center text-2xl font-semibold">
              Slide 2
            </div>
          </div>
          <div class="swiper-slide !flex items-center">
            <div class="w-full aspect-[2/3] max-w-[calc(100vh*0.75*0.667)] max-h-full rounded-2xl bg-white flex items-center justify-center text-2xl font-semibold">
              Slide 3
            </div>
          </div>
          <div class="swiper-slide !flex items-center">
            <div class="w-full aspect-[2/3] max-w-[calc(100vh*0.75*0.667)] max-h-full rounded-2xl bg-white flex items-center justify-center text-2xl font-semibold">
              Slide 4
            </div>
          </div>
          <div class="swiper-slide !flex items-center">
            <div class="w-full aspect-[2/3] max-w-[calc(100vh*0.75*0.667)] max-h-full rounded-2xl bg-white flex items-center justify-center text-2xl font-semibold">
              Slide 5
            </div>
          </div>
        </div>
      </div>
    </main>

    <style>
      ::-webkit-scrollbar {
        display: none;
      }
      .swiper-slide {
        display: unset;
      }
      body {
        overscroll-behavior: none;
      }
    </style>

    <script>
      import { Swiper } from 'swiper';  // Import the Autoplay module
      import { Autoplay } from 'swiper/modules';
      const swiper = new Swiper('.swiper', {
        modules: [Autoplay], 
        slidesPerView: 1.5,
        loop: true,
        centeredSlides: true,
        spaceBetween: 30,
        allowTouchMove: false,
        autoplay: {
          delay: 3,
          disableOnInteraction: false
        }
      });
    </script>
  </body>
</html>