---
import '../css/global.css';
import '../css/tailwind.css';
import '../css/style.css';
import '../css/animations.css';
import CardTemplate from '../components/cardTemplate.astro'
import Swiper from '../components/swiperComponent.astro'
import MobileAppPopup from '../components/popup.astro';
---


<html lang="""""pl" class="overflow-x-hidden no-scrollbar min-[460px]:overflow-y-hidden">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Opyleo</title>
<style>
  * {
    //border: 2px solid red;
  }
</style>
</head>
<body class="no-scrollbar overflow-x-hidden min-[460px]:overflow-y-hidden">
    <div class="min-[460px]:flex hidden absolute inset-0 items-center justify-center bg-[#ED9CA1] z-10">
        <div class="flex flex-col min-[1200px]:items-end max-[1200px]:items-center min-[1200px]:flex-row w-full justify-center gap-6">
            <div class="flex justify-center w-[20rem] max-md:w-[15rem]">
                <svg class="drop-shadow-2xl animate-slide-in-bounce-svg" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="120" height="120" rx="25" fill="#B80054"/>
                    <path d="M34.6304 67.152C33.5917 67.152 32.6544 66.9303 31.8184 66.487C30.9951 66.0437 30.3427 65.4103 29.8614 64.587C29.3927 63.7637 29.1584 62.801 29.1584 61.699C29.1584 60.6097 29.3991 59.6533 29.8804 58.83C30.3617 57.994 31.0204 57.3543 31.8564 56.911C32.6924 56.4677 33.6297 56.246 34.6684 56.246C35.7071 56.246 36.6444 56.4677 37.4804 56.911C38.3164 57.3543 38.9751 57.994 39.4564 58.83C39.9377 59.6533 40.1784 60.6097 40.1784 61.699C40.1784 62.7883 39.9314 63.751 39.4374 64.587C38.9561 65.4103 38.2911 66.0437 37.4424 66.487C36.6064 66.9303 35.6691 67.152 34.6304 67.152ZM34.6304 64.34C35.2511 64.34 35.7767 64.112 36.2074 63.656C36.6507 63.2 36.8724 62.5477 36.8724 61.699C36.8724 60.8503 36.6571 60.198 36.2264 59.742C35.8084 59.286 35.2891 59.058 34.6684 59.058C34.0351 59.058 33.5094 59.286 33.0914 59.742C32.6734 60.1853 32.4644 60.8377 32.4644 61.699C32.4644 62.5477 32.6671 63.2 33.0724 63.656C33.4904 64.112 34.0097 64.34 34.6304 64.34ZM44.619 57.899C44.9357 57.405 45.3727 57.006 45.93 56.702C46.4874 56.398 47.1397 56.246 47.887 56.246C48.761 56.246 49.5527 56.4677 50.262 56.911C50.9714 57.3543 51.5287 57.9877 51.934 58.811C52.352 59.6343 52.561 60.5907 52.561 61.68C52.561 62.7693 52.352 63.732 51.934 64.568C51.5287 65.3913 50.9714 66.031 50.262 66.487C49.5527 66.9303 48.761 67.152 47.887 67.152C47.1524 67.152 46.5 67 45.93 66.696C45.3727 66.392 44.9357 65.9993 44.619 65.518V72.054H41.37V56.398H44.619V57.899ZM49.255 61.68C49.255 60.8693 49.027 60.236 48.571 59.78C48.1277 59.3113 47.5767 59.077 46.918 59.077C46.272 59.077 45.721 59.3113 45.265 59.78C44.8217 60.2487 44.6 60.8883 44.6 61.699C44.6 62.5097 44.8217 63.1493 45.265 63.618C45.721 64.0867 46.272 64.321 46.918 64.321C47.564 64.321 48.115 64.0867 48.571 63.618C49.027 63.1367 49.255 62.4907 49.255 61.68ZM64.5636 56.398L57.9135 72.035H54.4175L56.8495 66.639L52.5365 56.398H56.1655L58.6165 63.029L61.0486 56.398H64.5636ZM68.4554 52.94V67H65.2064V52.94H68.4554ZM80.272 61.528C80.272 61.832 80.253 62.1487 80.215 62.478H72.862C72.9126 63.1367 73.1216 63.6433 73.489 63.998C73.869 64.34 74.3313 64.511 74.876 64.511C75.6866 64.511 76.2503 64.169 76.567 63.485H80.025C79.8476 64.1817 79.5246 64.8087 79.056 65.366C78.6 65.9233 78.0236 66.3603 77.327 66.677C76.6303 66.9937 75.8513 67.152 74.99 67.152C73.9513 67.152 73.0266 66.9303 72.216 66.487C71.4053 66.0437 70.772 65.4103 70.316 64.587C69.86 63.7637 69.632 62.801 69.632 61.699C69.632 60.597 69.8536 59.6343 70.297 58.811C70.753 57.9877 71.3863 57.3543 72.197 56.911C73.0076 56.4677 73.9386 56.246 74.99 56.246C76.016 56.246 76.928 56.4613 77.726 56.892C78.524 57.3227 79.1446 57.937 79.588 58.735C80.044 59.533 80.272 60.464 80.272 61.528ZM76.947 60.673C76.947 60.1157 76.757 59.6723 76.377 59.343C75.997 59.0137 75.522 58.849 74.952 58.849C74.4073 58.849 73.945 59.0073 73.565 59.324C73.1976 59.6407 72.9696 60.0903 72.881 60.673H76.947ZM86.28 67.152C85.2413 67.152 84.304 66.9303 83.468 66.487C82.6446 66.0437 81.9923 65.4103 81.511 64.587C81.0423 63.7637 80.808 62.801 80.808 61.699C80.808 60.6097 81.0486 59.6533 81.53 58.83C82.0113 57.994 82.67 57.3543 83.506 56.911C84.342 56.4677 85.2793 56.246 86.318 56.246C87.3566 56.246 88.294 56.4677 89.13 56.911C89.966 57.3543 90.6246 57.994 91.106 58.83C91.5873 59.6533 91.828 60.6097 91.828 61.699C91.828 62.7883 91.581 63.751 91.087 64.587C90.6056 65.4103 89.9406 66.0437 89.092 66.487C88.256 66.9303 87.3186 67.152 86.28 67.152ZM86.28 64.34C86.9006 64.34 87.4263 64.112 87.857 63.656C88.3003 63.2 88.522 62.5477 88.522 61.699C88.522 60.8503 88.3066 60.198 87.876 59.742C87.458 59.286 86.9386 59.058 86.318 59.058C85.6846 59.058 85.159 59.286 84.741 59.742C84.323 60.1853 84.114 60.8377 84.114 61.699C84.114 62.5477 84.3166 63.2 84.722 63.656C85.14 64.112 85.6593 64.34 86.28 64.34Z" fill="white"/>
                </svg>                    
            </div>
            <div class="flex flex-col gap-10">
                <div class="flex flex-col">
                    <p class="text-2xl sm:!text-3xl md:!text-4xl text-center font-bold text-white animate-slide-in-bounce-text">
                    Pełną parą pracujemy nad stronką dla ciebie!
                    </p>
                    <p class="text-lg sm:!text-xl md:!text-2xl text-center font-bold text-white mt-6 animate-slide-in-bounce-text delay-200">
                    Czemu nie rzucisz okiem na naszą apkę w międzyczasie?
                    </p>
                </div>
                <div class="flex justify-center flex-row gap-4 mb-4 font-bold animate-fadeIn delay-500">
                    <a 
                        href="https://apps.apple.com/pl/app/opyleo/id6504999106" 
                        class="bg-black text-white px-6 py-3 rounded-lg flex items-center justify-center space-x-2 hover:bg-gray-800 transition-colors drop-shadow-md"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor">
                          <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m5.47437 20.299-.60228.9418c-.4231.726-1.36015.9747-2.09299.5556-.73272-.4192-.98393-1.3475-.56083-2.0735l.38218-.5577c.14634-.2083.50746-.568 1.22985-.5003 0 0 1.69995.1827 1.82298 1.058 0 0 .01668.288-.17891.5761zm16.99343-6.1278h-3.6144c-.2462-.0164-.3536-.1035-.396-.1542l-.0026-.0046-3.4548-5.60064c-.3803-.57618-.9842.89735-.9842.89735-.7211 1.64199.1024 3.50869.3893 4.07299l4.7228 7.8567c.423.7259 1.36.9748 2.093.5555.7327-.4192.9839-1.3475.5607-2.0735l-1.3437-2.3058c-.0261-.0559-.0714-.2075.2042-.2082h1.8257c.8462 0 1.5322-.6796 1.5322-1.5179s-.686-1.5177-1.5322-1.5177zm-8.7039 2.0635s.1929.9722-.5536.9722l-11.67813-.0001c-.846202 0-1.53217-.6796-1.53217-1.5179s.685968-1.5178 1.53217-1.5178h3.43514c.5546-.0318.68597-.349.68597-.349l.00317.0016 4.48395-7.69411-.0013-.00026c.0817-.14864.0136-.28914.0018-.31131l-1.48089-2.54104c-.4231-.72587-.17202-1.65431.56083-2.07333.73285-.419157 1.66986-.17055 2.09296.55546l.6868 1.17848.6856-1.17638c.4231-.72588 1.3601-.974749 2.093-.55546.7328.41915.9839 1.34732.5608 2.07333l-6.23967 10.70652c-.02728.0652-.03562.1675.16739.1855l2.04608.0001s2.1565.0693 2.4501 2.0635z" fill="#FFF"/></svg>
                        <span>App Store</span>
                    </a>
                    
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.opyleo&pcampaignid=web_share"
                        class="bg-green-500 text-white px-6 py-3 rounded-lg flex items-center justify-center space-x-2 hover:bg-green-600 transition-colors drop-shadow-md"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#FFF" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                      <path d="M 7.125 2 L 28.78125 23.5 L 34.71875 17.5625 L 8.46875 2.40625 C 8.03125 2.152344 7.5625 2.011719 7.125 2 Z M 5.3125 3 C 5.117188 3.347656 5 3.757813 5 4.21875 L 5 46 C 5 46.335938 5.070313 46.636719 5.1875 46.90625 L 27.34375 24.90625 Z M 36.53125 18.59375 L 30.1875 24.90625 L 36.53125 31.1875 L 44.28125 26.75 C 45.382813 26.113281 45.539063 25.304688 45.53125 24.875 C 45.519531 24.164063 45.070313 23.5 44.3125 23.09375 C 43.652344 22.738281 38.75 19.882813 36.53125 18.59375 Z M 28.78125 26.3125 L 6.9375 47.96875 C 7.300781 47.949219 7.695313 47.871094 8.0625 47.65625 C 8.917969 47.160156 26.21875 37.15625 26.21875 37.15625 L 34.75 32.25 Z"></path>
                      </svg>
                        <span>Google Play</span>
                    </a>
                </div>   
            </div>     
        </div>
    </div>
    <section
      style="background: linear-gradient(110deg, #D76F9F 0%, #FFFFFF 100%);"
      class="h-[100vh] flex flex-col justify-between">
      <header class="shadow-xl h-[10vh] bg-highlight-1 flex flex-row justify-center items-center text-white font-poppins font-bold text-2xl p-6">
        <h1>opyleo</h1>
        <div class="flex-grow"></div>
        <button id="header-download-app-button" class="bg-highlight-3 text-sm text-white py-2 px-4 rounded-lg inline-flex items-center justify-around">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
            <span>Pobierz</span>
        </button>
        <MobileAppPopup triggerSelector="#header-download-app-button" />
    </header>
        <!-- <div class="flex flex-grow items-center justify-center scroll-animate header-of-hero">
            <span>Witaj w <b class="font-black">Opyleo</b></span>
            <span><b class="font-black">5 tysięcy</b> użytkowników</span>
            <span>Ponad <b class="font-black">10 tysięcy</b> pobrań</span>
        </div> -->
        <div class="flex items-center justify-center header-of-hero">
            <span>Witaj w <b class="font-black">Opyleo</b></span>
        </div>
        
        <Swiper />
        <div class="flex justify-end items-center">
            <div class="flex justify-end items-center footer-of-hero">
                <div class="sell-books-text max-[370px]:text-lg">Sprzedawaj <b class="font-black">książki</b></div>
                <div class="text-right scroll-animate max-[370px]:text-lg">
                    <span>tanio</span>
                    <span>szybko</span>
                    <span>wygodnie</span>
                </div>
                <button type="button" class="mr-5 ml-2 text-white bg-highlight-1 hover:bg-highlight-2 focus:ring-4 focus:outline-none focus:ring-highlight-1-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center rotate-90">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    <span class="sr-only">Icon description</span>
                </button>
            </div>
            <div class="h-[15vh]"></div>
        </div>
    </section>
    <section
        style="background: linear-gradient(-110deg, #FFFFFF 0%, #D76F9F 100%);"
        class="relative z-0 h-screen flex justify-center items-center font-bold">
        <div class="relative z-0">
            <div>
                <img src="woman.png" alt="Image" class="blur-3xl h-[100vh] w-[100vw] object-cover object-center">
            </div>
            <div class="z-10 absolute top-0 left-0">
                <img src="woman.png" alt="Image" class="h-[100vh] w-[100vw] object-cover object-center">
            </div>
        </div>
        <div class="z-10 absolute w-screen overflow-hidden">
            <div>
                <div class="relative h-screen">
                    <div class="absolute bottom-0 right-0 h-[150vw] w-[150vw] bg-white/40 backdrop-blur-2xl translate-x-[40%] translate-y-[30%] rounded-full">
                        <p class="text-right font-bold text-2xl translate-x-[-42%] translate-y-[150%]">
                            Opyleo,<br>
                            ekologiczniej się nie da!<br>
                            <div class="text-right text-2xl font-extralight translate-x-[-42%] translate-y-[80%]">
                                Lorem ipsum dolor sit amet,<br>
                                consectetur adipiscing elit.<br>
                                Aenean elementum<br>
                                lacus a purus eleifend convallis.
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
            style="background: linear-gradient(110deg, #D76F9F 0%, #FFFFFF 100%);"
            class="relative z-0 h-screen flex justify-center items-center font-bold">
        <div class="left-4 top-4 absolute m-4 section-three-header">
            <p class="autoShow text-3xl font-bold">Opyleo</p>
            <p class="autoShow text-xl font-normal">Co u nas znajdziesz?</p>
        </div>
        <img class="dots dotsAnim translate-y-[-80%]" src="dots.svg">
        <div class="circleAnim1 flex items-center justify-center absolute w-[20vh] h-[20vh] translate-x-[30%] translate-y-[-20%] bg-white/10 backdrop-blur-sm rounded-full">
            <div class="">Gatunek 1</div>
        </div>
        <div class="circleAnim2 flex items-center justify-center absolute w-[20vh] h-[20vh] translate-x-[-60%] translate-y-[40%] bg-white/10 backdrop-blur-sm rounded-full">
            <div class="">Gatunek 2</div>
        </div>
        <div class="circleAnim3 flex items-center justify-center absolute w-[20vh] h-[20vh] translate-x-[60%] translate-y-[80%] bg-white/20 backdrop-blur-sm rounded-full">
            <div class="">Gatunek 3</div>
        </div>
        <div class="circleAnim4 flex items-center justify-center absolute w-[20vh] h-[20vh] translate-x-[-80%] translate-y-[150%] bg-white/30 backdrop-blur-sm rounded-full">
            <div class="">Gatunek 4</div>
        </div>
    </section>
    <section
        style="background: linear-gradient(-110deg, #FFFFFF 0%, #D76F9F 100%);"
        class="relative z-0 h-screen flex justify-center items-center font-bold">
        <div class="relative z-0">
            <div>
                <img style="-webkit-transform: scaleX(-1); transform: scaleX(-1);" src="woman.png" alt="Image" class="blur-3xl h-[100vh] w-[100vw] object-cover object-center">
            </div>
            <div class="z-10 absolute top-0 left-0">
                <img style="-webkit-transform: scaleX(-1); transform: scaleX(-1);" src="woman.png" alt="Image" class="h-[100vh] w-[100vw] object-cover object-center">
            </div>
        </div>
        <div class="z-10 absolute w-screen overflow-hidden">
            <div>
                <div class="relative h-screen">
                    <div class="absolute bottom-0 right-0 h-[150vw] w-[150vw] bg-white/40 backdrop-blur-2xl translate-x-[-8%] translate-y-[30%] rounded-full">
                        <p class="text-left font-bold text-2xl translate-x-[44%] translate-y-[150%]">
                            Wrzuć zdjęcie,<br>
                            a resztę zostaw nam!<br>
                            <div class="text-left text-2xl font-extralight translate-x-[44%] translate-y-[80%]">
                                Lorem ipsum dolor sit amet,<br>
                                consectetur adipiscing elit.<br>
                                Aenean elementum<br>
                                lacus a purus eleifend convallis.
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relative h-[85vh] w-full flex flex-col items-center font-bold">
    <div class="absolute top-0 w-full h-full z-10">
        <div 
            style="
                background: linear-gradient(110deg, #D76F9F 0%, #FFFFFF 100%);;
                -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);"
            class="w-full h-full"
        ></div>
    </div>

    <!-- Rest of your section content -->
    <!-- Header Text -->
    <div class="absolute top-10 w-full text-center text-xl text-highlight-3 z-20">
        <p>To co chcesz dziś poczytać? :D</p>
    </div>
        
        <!-- Download Button -->
        <button id="cta-download-app-button" 
                class="absolute top-[15%] left-1/2 transform -translate-x-1/2 bg-highlight-3 text-sm text-white py-2 px-4 rounded-lg inline-flex items-center justify-center shadow-lg z-20">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/>
            </svg> 
            <span>Pobierz</span>
        </button>
    
        <!-- Image (Below Gradient) -->
        <div class="relative h-full w-full flex justify-center items-end">
            <img src="section-5.png" 
                 alt="Ebook Image" 
                 class="h-[70%] w-auto object-cover z-0">
        </div>
        <MobileAppPopup triggerSelector="#cta-download-app-button" />
    </section>
    <footer class="flex justify-evenly h-[15vh] bg-background-3 text-white items-center">
        <a class="w-1/3 text-center">Polityka prywatności</a>
        <p class="w-1/3 text-center">Opyleo 2024</p>
        <a class="w-1/3 text-center">Regulamin</a>
    </footer>
<!-- <script src="../js/header-of-hero.js"></script> -->
</body>
</html>
