---
import CardTemplate from '../components/cardTemplate.astro'
import { getBooks } from '../js/api.ts';

const books = await getBooks();
const state = ["Zły", "Umiarowany", "Dobry", "Bardzo dobry"];
---
<head>
    <meta charset="utf-8" />
    <title>Test API</title>
</head>

{books.map((book) => (
    <CardTemplate
        title = {book.title}
        price = {`${book.price} zł`}
        state = {state[book.condition - 1]}
        seller = {book.creator_name}
        imageUrl = {book.first_image}
    />
    ))}
