---
// src/pages/index.astro
import 'swiper/css';
import 'swiper/css/autoplay';
import CardTemplate from './cardTemplate.astro';
import { getBooks } from '../js/api.ts';
import MobileAppPopup from '../components/popup.astro';
import type Popup from './popup.astro';
const books = await getBooks();
const state = ["Zły", "Umiarkowany", "Dobry", "Bardzo dobry"];
---

    <div class="w-screen flex items-center" id="swiper-wrapper">
      <MobileAppPopup triggerSelector="#swiper-wrapper" />
      <div class="swiper overflow-visible">
        <div class="swiper-wrapper">
          {books.map((book) => (
            <div class="swiper-slide !flex items-center">
              <CardTemplate
                  title = {book.title}
                  price = {`${book.price} zł`}
                  state = {state[book.condition - 1]}
                  seller = {book.creator_name}
                  imageUrl = {book.first_image}
              />
            </div>
            ))}
        </div>
      </div>
    </div>

    <style>
      ::-webkit-scrollbar {
        display: none;
      }
      .swiper-slide {
        display: unset;
      }
      body {
        overscroll-behavior: none;
      }
    </style>

    <script>
      import { Swiper } from 'swiper';  // Import the Autoplay module
      import { Autoplay } from 'swiper/modules';
      const swiper = new Swiper('.swiper', {
        modules: [Autoplay], 
        slidesPerView: 1.5,
        loop: true,
        centeredSlides: true,
        spaceBetween: 30,
        allowTouchMove: false, // Set it back to false
        // effect: 'slide',
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
          pauseOnMouseEnter: true
        },

      });
    </script>
