:root {
  --highlight-1: #B80054;
  --highlight-2: #D76F9F;
  --highlight-3: #500027;
  --background-1: #FFFFFF;
  --background-2: #EEEEEE;
  --background-3: #2E2E2E;
  --text-1: #000000;
  --text-2: #767676;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: 0;
}
}

@layer base {
  * {
    @apply box-border;
  }
}